@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  max-width: 270px; 
  max-height: 270px; 
  margin-bottom: 10px;
}


h1 {
  font-size: 200%;
  margin-bottom: 4%;
  text-align: center;
}



body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130vh;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}

.container {
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  height: 800px; 
  opacity: 0; /* Initial opacity set to 0 */
  transition: opacity 0.5s ease-in-out;
}
.container.active {
  opacity: 1; /* Opacity set to 1 when the 'active' class is present */
}

.container-memorize {
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-place {

  /* display: flex; */
  align-items: center; /* Align items at the center of the cross axis */
  font-family: 'JetBrains Mono', monospace;
  flex-direction: row; /* Display items horizontally */
  justify-content: center;
  padding: 10px;
  
}
  /* align-self: flex-start;
  width: 10em;
  height: 5em;
  margin-bottom: 2em;
  font-family: 'JetBrains Mono', monospace;
 } */ 

 .place-label {
  margin-right: 20px;
  margin-bottom: 30px;
  width: 30%;
  justify-content: flex-start;
}

.place-input {
  width: 13em;
  justify-content: center;
}

.placeWarning {
  color: red;
  font-size: 0.9em;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
  
}



  /* width: 13em; */
 /* .place-label {
  margin-right: 20px;
  margin-bottom: 30px;
 }

 .place-input {
  width: 13em;
 } */


input {
  width: 50em;
  height: 3em;
  margin-bottom: 2em;
  font-family: 'JetBrains Mono', monospace;
}

button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.result {
  margin-top: 2%;
  font-family: 'JetBrains Mono', monospace;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; 
  white-space: pre-line;
  line-height: 250%;
}

.result p {
  display: inline-block;
  animation: appearWord 0.5s ease-out; 
}

@keyframes appearWord {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 1%;
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  text-align: center;
  display: block;
}

li {
  display: inline-block;
  margin-left: 85px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px;
}

a:hover {
  text-decoration: underline;
}

body::-webkit-scrollbar {
  display: none;
}

/* PAGES */
.about-content {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 300px; */
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  justify-content: center;
}

.about-content.active {
  opacity: 1;
}


.faq-content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 600px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.faq-content.active {
  opacity: 1;
}

.alert-message {
  color: rgb(226, 126, 4);
  font-size: 0.9em;
  margin-top: 0.5em;
}



/* Add styles for the hamburger menu icon */
.menu-icon {
  display: none; /* Hide menu icon by default */
  cursor: pointer;
  opacity: 0.9;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px auto;
  transition: 0.3s;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
}



/* Adjustments for smaller screens */
@media (max-width: 768px) {
  body {
    height: 170vh;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-icon {
    display: block;
    color: #000000;  
  }

  /* Adjust the menu styles for mobile */
  .menu {
    font-weight: bold;
    font-size: 1.2rem;
    opacity: 95%;
    list-style-type: none;
    padding: 0rem;
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 60%; /* Adjust the width as needed */
    background-color: #fff; /* Optional: Set background color */
    border: none; /* Optional: Add border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0); /* Optional: Add box shadow */
    display: flex; /* Change display to flex */
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Align items vertically */
    z-index: 1000; /* Ensure menu appears above other content */
    transform: translateX(100%); /* Initially translate the menu out of view */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); /* Add transition for smooth animation */
  }

  /* Show the menu when it's open */
  .menu.open {
    transform: translateX(0); /* Translate the menu into view */
  }

  /* Style the menu links */
  .menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem; /* Increase font size */
    padding: 2rem; /* Add padding to create space between items */
    align-items: center;
    text-align: center;
    margin-right: 50px;
  }


  .place-input {
    width: 13em;
  }

  input {
    font-size: 14px;
    max-width: 320px;
  }
}

@media (max-width: 376px) {
  body {
    height: 190vh;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .logo {
    max-width: 200px;
    max-height: 200px;
  }

  li {
    margin-left: 5px;
  }
  p {
    text-align: center;
    justify-content: center;
    max-width: 100%; /* Adjust the maximum width */
    margin: 0 auto; /* Center the content horizontally */
  }
  .menu-icon {
    display: block;
    color: #000000;  
  }

  /* Adjust the menu styles for mobile */
  .menu {
    opacity: 95%;
    list-style-type: none;
    padding: 0;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 60%; 
    background-color: #fff; 
    border: none; 
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  */
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    z-index: 1000; 
    transform: translateX(100%); 
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  /* Show the menu when it's open */
  .menu.open {
    transform: translateX(0); /* Translate the menu into view */
  }

  /* Style the menu links */
  .menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem; /* Increase font size */
    padding: 2rem; /* Add padding to create space between items */
    margin-right: -15px;
  }
}